body {
  background-color: #1d1d1d;
  color: #fff;
}
h1 {
  text-align: center;
}
a {
  color: #fff;
}
.less {
  text-align: center;
}
/* .less1 {
  background: #2d2d2d;
  min-width: 1200px;
  max-width: 2500px;
  margin: 30px;
  padding: 20px;
  border: none;
  border-radius: 30px;
  text-align: left; 
  -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
} */
/* .less1 {
  justify-content: center;
  align-items: center;
  height: auto;
  border: none;
  border-radius: 50px;

  color: #fff;
  background-color: #2d2d2d;
  padding: 20px;
  width: auto;
} */

.button-ed {
  background: #ff900e;
  color: #fff;
  padding: 7px 20px;
  margin: 3px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 10px #ff900e;
}
.button-back {
  text-align: left;
  background: #ff900e;
  color: #fff;
  padding: 7px 20px;
  margin: 5px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 10px #ff900e;
}
.info {
  background: #101010;
  color: #fff;
  margin: 200px auto;
  padding: 30px;
  border: solid #ff900e;
  border-radius: 7px;
  box-shadow: 0 0 10px #ff900e;
}

.less1 {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    color: #fff;
  background-color: #2d2d2d;
  padding: 20px;
}

/* Пример использования медиа-запросов для адаптивности */
@media (max-width: 768px) {
    .less1 {
        width: 100%;
        padding: 10px;
    }
}

.tg {
  font-family: Monaco;
  color: cornflowerblue;
}